# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Data
__init__.py
database.sqlite
data_out/

# Models / Weights
weights/
*.pt
*.pth

# Database
*.sqlite
*.db

# Tokenizer
tokenizer_out/